#!/bin/sh

# ======= Not desirable to change ========

function replaceVariable() {
    if [ -z "$1" ]
    then
        local find replace input
        input=$1
        find=$2
        replace=$3
        echo "$input" | sed "s,$find,$replace,"
    fi
}

# Set project domain
if [ ! "$PROJECT_DOMAIN" ]
then
    PROJECT_DOMAIN=$(replaceVariable "$PROJECT_DOMAIN_MASK" "__PROJECT__" "$PROJECT")
fi
SAMPLE_DATA_DIR=$(replaceVariable "$SAMPLE_DATA_DIR" "__PROJECT__" "$PROJECT")
SAMPLE_DATA_DIR=$(replaceVariable "$SAMPLE_DATA_DIR" "__DOCROOT__" "$ROOT")

IMPORT_DIR=$(replaceVariable "$IMPORT_DIR" "__SAMPLE_DIR__" "$SAMPLE_DATA_DIR")

PROJECT_DIR=$(replaceVariable "$PROJECT_DIR" "__DOCROOT__" "$ROOT")
PROJECT_DIR=$(replaceVariable "$PROJECT_DIR" "__PROJECT__" "$PROJECT")

# Set project name into email
ADMIN_EMAIL=$(replaceVariable "$ADMIN_EMAIL" "__PROJECT__" "$PROJECT")

# Save current path
CUR_DIR=$(pwd)

# Set default DB host
if [ -z "$DB_HOST" ]
then
    DB_HOST="localhost"
fi


# Set DB name as project name if it's empty
if [ -z "$DB_NAME" ]
then
    DB_NAME=$PROJECT
fi

DB_NAME=$(replaceVariable "$DB_NAME" "__PROJECT__" "$PROJECT")

DB_HOST=$(replaceVariable "DB_HOST" "__PROJECT__" "$PROJECT")

# Replace symbols "/.-" with "_" in database name
DB_NAME=$(echo $DB_NAME | tr /.- _)
