#!/bin/bash

# Project name. It should be provided as a parameter.
PROJECT=""

# ---------- 1. INSTALLATION PARAMETERS ------------
# ---------- 1.1. Database parameters --------------
# Database connection host.
DB_HOST="localhost"
# Database connection username.
DB_USER="root"
# Database connection password.
DB_PASSWORD=""
# Database name.
DB_NAME="__PROJECT__"

# ---------- 1.2. URL parameters
# __PROJECT__ will be replaced with your $PROJECT parameter
# You can make some your pattern:
#   example.com/path/to/__PROJECT__
#   example-__PROJECT__.com
# And you will get completed domains:
#   example.com/path/to/projectname
#   example-projectname.com
PROJECT_DOMAIN_MASK="__PROJECT__.cc"
# Secured protocol secured URL of project.
# Set "http" if you don't have HTTPS.
PROTOCOL_SECURED="https"
# Enable using of Apache rewrites.
USE_REWRITES="yes"

# ---------- 1.3. Admin user parameters
# Username of default administrator.
ADMIN_USERNAME="admin"
# Password of default administrator.
ADMIN_PASSWORD="password"
# Email of default administrator.
ADMIN_EMAIL="example-__PROJECT__@example.com"

# ---------- 2. Install parameters
# Enable Magento installation
INSTALL_RUN=yes
# Clean cache. It will be done on enabled installation
CLEAR_CACHE=yes
# Enable products importing
IMPORT_RUN=yes
# Enable importing sample data SQL scripts
SAMPLE_DATA_SQL_RUN=yes
# Enable importing sample data media files
SAMPLE_DATA_MEDIA_RUN=yes
# Enable setting Magento configuration from CSV file
SAMPLE_DATA_CONFIG_RUN=yes

# ---------- 3. Install directories
# Path to document root
ROOT="/usr/local/www/apache22/data"
# Path sample data directory
SAMPLE_DATA_DIR="__DOCROOT__/sample_data/__PROJECT__"
# Products CSV files directory
IMPORT_DIR="__SAMPLE_DIR__/import"
# You root directory of project
PROJECT_DIR="__DOCROOT__/__PROJECT__"

# ---------- 4. Binary files parameters
# Path to MySQL client binary file
MYSQL_BIN="mysql"
# Path to PHP binary file
PHP_BIN="php"

# ---------- 5. Permissions for "var", "media", and "etc" directories
MEDIA_DIR_PERMISSIONS=0777
MEDIA_DIR_USER=""

# ---------- 6. Package config
# *.csv files will be added to configuration recurcivelly
PROJECT_CONFIG_DIR="__DOCROOT__/__PROJECT__/shell/mageshell/config"
PROJECT_CONFIG_RUN=true
