#!/bin/bash

[ -z "${VERBOSITY_LEVEL:-}" ] && VERBOSITY_LEVEL=0

# Project name. It should be provided as a parameter.
PROJECT=""

# ---------- 1. INSTALLATION PARAMETERS ------------
# ---------- 1.1. Database parameters --------------
# Database connection host.
[ -z "${DB_HOST:-}" ] && DB_HOST="localhost"
# Database connection username.
[ -z "${DB_USER:-}" ] && DB_USER="root"
# Database connection password.
[ -z "${DB_PASSWORD:-}" ] && DB_PASSWORD=""
# Database name.
[ -z "${DB_NAME:-}" ] && DB_NAME="__PROJECT__"

# ---------- 1.2. URL parameters
# __PROJECT__ will be replaced with your $PROJECT parameter
# You can make some your pattern:
#   example.com/path/to/__PROJECT__
#   example-__PROJECT__.com
# And you will get completed domains:
#   example.com/path/to/projectname
#   example-projectname.com
[ -z "${PROJECT_DOMAIN_MASK:-}" ] && PROJECT_DOMAIN_MASK="__PROJECT__.cc"
# Secured protocol secured URL of project.
# Set "http" if you don't have HTTPS.
[ -z "${PROTOCOL_SECURED:-}" ] && PROTOCOL_SECURED="https"
# Enable using of Apache rewrites.
[ -z "${USE_REWRITES:-}" ] && USE_REWRITES="yes"

# ---------- 1.3. Admin user parameters
# Username of default administrator.
[ -z "${ADMIN_USERNAME:-}" ] && ADMIN_USERNAME="admin"
# Password of default administrator.
[ -z "${ADMIN_PASSWORD:-}" ] && ADMIN_PASSWORD="password"
# Email of default administrator.
[ -z "${ADMIN_EMAIL:-}" ] && ADMIN_EMAIL="example-__PROJECT__@example.com"

# ---------- 2. Install parameters
# Enable Magento installation
INSTALL_RUN=yes
# Clean cache. It will be done on enabled installation
CLEAR_CACHE=yes
# Enable products importing
IMPORT_RUN=yes
# Enable importing sample data SQL scripts
SAMPLE_DATA_SQL_RUN=yes
# Enable importing sample data media files
SAMPLE_DATA_MEDIA_RUN=yes
# Enable setting Magento configuration from CSV file
SAMPLE_DATA_CONFIG_RUN=yes

# ---------- 3. Install directories
# Path to document root
[ -z "${ROOT:-}" ] && ROOT="/usr/local/www/apache22/data"
# Path sample data directory
[ -z "${SAMPLE_DATA_DIR:-}" ] && SAMPLE_DATA_DIR="__DOCROOT__/sample_data/__PROJECT__"
# Products CSV files directory
[ -z "${IMPORT_DIR:-}" ] && IMPORT_DIR="__SAMPLE_DIR__/import"
# You root directory of project
[ -z "${PROJECT_DIR:-}" ] && PROJECT_DIR="__DOCROOT__/__PROJECT__"

SAMPLE_DATA_PROJECT=''

# ---------- 4. Binary files parameters
# Path to MySQL client binary file
[ -z "${MYSQL_BIN:-}" ] && MYSQL_BIN="mysql"
# Path to PHP binary file
[ -z "${PHP_BIN:-}" ] && PHP_BIN="php"

# ---------- 5. Permissions for "var", "media", and "etc" directories
# TODO Add using MEDIA_PERMISSION_DIRS MEDIA_PERMISSION_DIRS_RECURSIVE PROJECT_DIR_PERMISSIONS
[ -z "${MEDIA_PERMISSION_DIRS:-}" ] && MEDIA_PERMISSION_DIRS='etc/'
[ -z "${MEDIA_PERMISSION_DIRS_RECURSIVE:-}" ] && MEDIA_PERMISSION_DIRS_RECURSIVE='var/:media/'
[ -z "${MEDIA_DIR_PERMISSIONS:-}" ] && MEDIA_DIR_PERMISSIONS=0770
[ -z "${MEDIA_DIR_OWNER:-}" ] && MEDIA_DIR_OWNER=""
[ -z "${PROJECT_DIR_PERMISSIONS:-}" ] && PROJECT_DIR_PERMISSIONS=0770
[ -z "${PROJECT_DIR_OWNER:-}" ] && PROJECT_DIR_OWNER=""

# ---------- 6. Package config
# *.csv files will be added to configuration recurcivelly
[ -z "${PROJECT_CONFIG_DIR:-}" ] && PROJECT_CONFIG_DIR="__DOCROOT__/__PROJECT__/shell/mageshell/config"
[ -z "${PROJECT_CONFIG_RUN:-}" ] && PROJECT_CONFIG_RUN=true
